p.submit {
    padding-left: 0;
}
.ilifautpl-label {
	display: block;
	margin-bottom: .5em;
}
.ilifautpl-input {
	display: block;
	width: 100%;
	margin-bottom: .5em;
	padding: 5px !important;
	position: relative;
	top: -1px;
}
.ilifautpl-input-slide-wrapper {
	display: block;
}
.ilifautpl-input-slide {
	display: inline-block;
	vertical-align: middle;
}
.ilifautpl-input-slide-url-buttons {
	display: block;
	margin-bottom: 1em;
}
.ilifautpl-input-slide-media {
	display: inline-block;
	vertical-align: middle;
}
.ilifautpl-input-slide-id-buttons {
    margin-bottom: 1em;
}
.ilifautpl-input-slide-position {
	margin-bottom: 1em;
}
.ilifautpl-remove-slide {
	display: inline-block;
	vertical-align: middle;
}
.ilifautpl-slide-preview {
    height: 80px;
    max-width: 240px;
    margin-bottom: .25em;
}
.ms-container {
	width: 100% !important;
	max-width: 100% !important;
}