.ilifautpl-label {
	display: block;
	margin-bottom: .5em;
}
.ilifautpl-input {
	display: block;
	width: 100%;
	margin-bottom: .5em;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	top: -1px;
}
.ilifautpl-input-slide-wrapper {
	display: block;
}
.ilifautpl-input-slide {
	display: inline-block;
	vertical-align: middle;
}
.ilifautpl-input-slide-url-buttons {
	display: block;
	margin-bottom: 1em;
}
.ilifautpl-input-slide-media {
	display: inline-block;
	vertical-align: middle;
}
.ilifautpl-remove-slide {
	display: inline-block;
	vertical-align: middle;
}
.ms-container {
	width: 100% !important;
	max-width: 100% !important;
}