$color_1: #fff;
$font_family_1: 'FontAwesome';

.ilifautpl-slider-fallback {
    display: block;
    overflow: hidden;
}

#ilifautpl-hero {
	position: relative;
	background: #fff;
	margin: 0 0 2em;
	&::after {
		content: '';
		width: 100%;
		height: 120px;
		position: absolute;
		top: 2em;
		background: #fff;
		transform-origin: right top;
		transform: skewY(-1.75deg);
		display: block;
		overflow: hidden;
	}
}
.ilifautpl-hero-inner {
	position: relative;
	display: block;
	max-width: 1920px;
	margin: 0 auto;
}
.slick-slider {
	position: relative;
}
.slick-slide {
	height: calc(75vh - 10em) !important;
	min-height: 480px !important;
	position: relative;
	overflow: hidden;
	a {
		color: $color_1;
		font-weight: 600;
		&:hover {
			color: $color_1;
			font-weight: 600;
		}
		&:active {
			color: $color_1;
			font-weight: 600;
		}
		&:visited {
			color: $color_1;
			font-weight: 600;
		}
	}
}
.ilifautpl-slider-content {
	box-sizing: border-box;
	display: block;
	position: absolute;
	bottom: 52px;
	margin-bottom: 16px;
	h3 {
		display: table;
		color: $color_1;
		background: rgba(0, 51, 102, .875);
		margin-right: 25px;
		font-size: 37px;
		font-weight: 600;
		letter-spacing: 1px;
		margin-bottom: 8px;
		padding: 4px 12px 8px;
		line-height: 1.25;
		a {
			&:hover {
				text-decoration: none;
			}
			&:active {
				text-decoration: none;
			}
		}
	}
	p {
		display: table;
		color: $color_1;
		background: rgba(0, 51, 102, .875);
		margin-right: 25px;
		font-size: 15px;
		font-weight: 400;
		padding: 6px 12px;
		line-height: 1.5;
	}
}
.ilifautpl-arrow {
	position: absolute;
	font-size: 192px;
	top: calc(50% - 96px);
	color: $color_1;
	opacity: .45;
	transition: opacity .2s ease-in;
	background: transparent;
	border: 0;
	font-family: $font_family_1;
	&:hover {
		color: $color_1;
		outline: none;
		opacity: .9;
	}
	&:focus {
		color: $color_1;
		outline: none;
		opacity: .9;
	}
}
.ilifautpl-arrow.prev {
	left: 25px;
	&::before {
		content: '\f104';
	}
}
.ilifautpl-arrow.next {
	right: 25px;
	&::before {
		content: '\f105';
	}
}
.slick-dots {
	margin-bottom: .5em !important;
}
.ilifautpl-topic-boxes {
	width: 100%;
	display: grid;
	grid-gap: 1.5em 3.5%;
	grid-template-columns: repeat(3, 31%);
}
.ilifautpl-topic-box {
	display: block;
	overflow: hidden;
	position: relative;
	&:nth-child(3n) {
		margin-right: 0;
	}
	h3 {
		background: #003366;
		color: $color_1;
		font-weight: 400;
		font-size: 1.06125em;
		text-align: center;
		padding: 6px 12px;
		position: relative;
		z-index: 2;
		a {
			color: $color_1;
			text-decoration: none;
			font-weight: 400;
		}
	}
	p {
		padding: 8px 0;
	}
	a {
		font-weight: 600;
	}
}
.ilifautpl-topic-box-image {
	transition: opacity .2s linear;
	&:hover {
		opacity: .7;
	}
}
.ilifautpl-landing-page-content {
    padding-bottom: 1.5em;
}
@media screen and (min-width: 1921px) {
	#ilifautpl-hero {
		&::after {
			transform: skewY(-1deg);
		}
	}
	.slick-slide {
		height: 640px !important;
		position: relative;
	}
}
@media screen and (max-width: 991px) {
	#ilifautpl-hero {
		&::after {
			height: 120px;
			margin-top: 2.5em;
			transform: skewY(-2deg);
		}
	}
    .ilifautpl-slider-fallback {
        margin-top: 1.5em;
    }
	.ilifautpl-arrow {
		font-size: 100px;
		top: calc(50% - 50px);
	}
	.ilifautpl-topic-boxes {
		grid-template-columns: repeat(2, 48.25%);
	}
}
@media screen and (max-width: 768px) {
    .ilifautpl-slider-fallback {
        margin-top: 0;
    }
}
@media screen and (min-width: 768px) {
	#ilifautpl-hero,
    .ilifautpl-slider-fallback {
		padding-top: 9em;
	}
	.ilifautpl-slider-content {
		padding: 0 15px;
	}
}
@media screen and (max-width: 767px) {
	#ilifautpl-hero {
		margin-bottom: 3em;
		&::after {
			display: none;
		}
	}
	.slick-slide {
		height: 50vh !important;
		min-height: 240px !important;
	}
	.ilifautpl-slider-content {
		h3 {
			font-size: 23px;
		}
		p {
			font-size: 13px;
		}
	}
}
@media screen and (max-width: 640px) {
	.ilifautpl-arrow {
		em {
			display: none;
		}
	}
}
@media screen and (max-width: 639px) {
	.ilifautpl-topic-box {
		width: 100%;
		margin: 0 0 1em;
		float: none;
	}
	.ilifautpl-topic-box-image {
		top: 16px;
	}
}
@media screen and (max-width: 480px) {
	.ilifautpl-topic-boxes {
		width: 100%;
		grid-gap: 1.5em 0;
		grid-template-columns: repeat(1, 100%);
	}
}
