/**
 *  ILI FAU Templates plugin main css file
 * 
 *  Contents
 *  ========
 *  1. Landing Page - Slider
 *  2. Landing Page - Topic Boxes
 */
 
 /* -----------------------------------------
   1. Landing Page - Slider
   ----------------------------------------- */
#ilifautpl-hero {
    position: relative;
    background: #fff;
    margin: 0 0 2em;
}

.ilifautpl-hero-inner {
    position: relative;
    display: block;
    max-width: 1920px;
    margin: 0 auto;
}

#ilifautpl-hero::after {
    content: '';
    width: 100%;
    height: 120px;
    position: absolute;
    top: 2em;
    background: #fff;
    transform-origin: right top;
    transform: skewY(-1.75deg);
    display: block;
    overflow: hidden;
}

.slick-slider {
    position: relative;
}

.slick-slide {
    height: calc(75vh - 10em)!important;
    min-height: 480px!important;
    position: relative;
    overflow: hidden;
}

.slick-slide a,
.slick-slide a:hover,
.slick-slide a:active,
.slick-slide a:visited {
    color: #fff;
    font-weight: 600;
}

.ilifautpl-slider-content {
    box-sizing: border-box;
    display: block;
    position: absolute;
    bottom: 52px;
    margin-bottom: 16px;
}

.ilifautpl-slider-content h3,
.ilifautpl-slider-content p {
    display: table;
    color: #fff;
    background: rgba(0, 51, 102, .875);
    margin-right: 25px;
}

.ilifautpl-slider-content h3 {
    font-size: 37px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding: 4px 12px 8px;
    line-height: 1.25;
}

.ilifautpl-slider-content h3 a:hover,
.ilifautpl-slider-content h3 a:active {
    text-decoration: none;
}

.ilifautpl-slider-content p {
    font-size: 15px;
    font-weight: 400;
    padding: 6px 12px;
    /* margin-left: 16px; */
    line-height: 1.5;
}

.ilifautpl-arrow {
    position: absolute;
    font-size: 192px;
    top: calc(50% - 96px); /* arrow height / 2 */
    color: #fff;
    opacity: .45;
    transition: opacity .2s ease-in;
}

.ilifautpl-arrow.prev {
    left: 25px;
}

.ilifautpl-arrow.next {
    right: 25px;
}

.ilifautpl-arrow:hover,
.ilifautpl-arrow:focus {
    color: #fff;
    outline: none;
    opacity: .9;
}

.slick-dots {
    margin-bottom: .5em!important;
}

/* Responsive */

@media screen and (min-width: 1921px) {
    #ilifautpl-hero::after{
        transform: skewY(-1deg);
    }
    
    .slick-slide {
        height: 640px!important;
        position: relative;
    }
}

@media screen and (max-width: 991px) {
    #ilifautpl-hero::after{
        height: 120px;
        margin-top: 2.5em;
        transform: skewY(-2deg);
    }

    .ilifautpl-arrow {
        font-size: 100px;
        top: calc(50% - 50px); /* arrow height / 2 */
    }
} 

@media screen and (min-width: 768px) {
    #ilifautpl-hero {
        padding-top: 9em;
    }

    .ilifautpl-slider-content {
        padding: 0 15px;
    }
} 

@media screen and (max-width: 767px) {
    #ilifautpl-hero {
        margin-bottom: 3em;
    }
    
    #ilifautpl-hero::after{
        display: none;
    }
    
    .slick-slide {
        height: 50vh!important;
        min-height: 240px!important;
    }
    
    .ilifautpl-slider-content h3 {
        font-size: 23px;
    }
    
    .ilifautpl-slider-content p {
        font-size: 13px;
    }
}

@media screen and (max-width: 640px) {
    .ilifautpl-arrow em {
        display: none;
    }
}

/* -----------------------------------------
  2. Landing Page - Topic Boxes
  ----------------------------------------- */
  
.ilifautpl-topic-boxes {
    width: 100%;
    display: grid;
    grid-gap: 1.5em 3.5%;
    grid-template-columns: repeat(3, 31%);
}

.ilifautpl-topic-box {
    display: block;
    overflow: hidden;
    position: relative;
}

.ilifautpl-topic-box-image {
    transition: opacity .2s linear;
}

.ilifautpl-topic-box-image:hover {
    opacity: .7;
}

.ilifautpl-topic-box:nth-child(3n) {
    margin-right: 0;
}

.ilifautpl-topic-box h3 {
    background: #003366;
    color: #fff;
    font-weight: 400;
    font-size: 1.06125em;
    text-align: center;
    padding: 6px 12px;
    position: relative;
    z-index: 2;
}

.ilifautpl-topic-box h3 a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

.ilifautpl-topic-box p {
    padding: 8px 0;
}

.ilifautpl-topic-box a {
    font-weight: 600;
}

@media screen and (max-width: 991px) {
    .ilifautpl-topic-boxes {
        grid-template-columns: repeat(2, 48.25%);
    }
}

@media screen and (max-width: 639px) {
    .ilifautpl-topic-box {
        width: 100%;
        margin: 0 0 1em;
        float: none;
    }
    
    .ilifautpl-topic-box-image {
        top: 16px;
    }
}

@media screen and (max-width: 480px) {
    .ilifautpl-topic-boxes {
        width: 100%;
        grid-gap: 1.5em 0;
        grid-template-columns: repeat(1, 100%);
    }
}
