/**
 *  ILI FAU Templates plugin main css file
 * 
 *  Contents
 *  ========
 *  1. Front Page Slider
 *  2. Topic Boxes
 */
 
 /* -----------------------------------------
   1. Front Page Slider
   ----------------------------------------- */
#ilifautpl-hero {
    background: #fff;
    margin-bottom: 2em;
}

.ilifautpl-hero-inner {
    display: block;
    max-width: 1920px;
    margin: 0 auto;
}

#ilifautpl-hero::after {
    content: '';
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
    background: #fff;
    margin-top: 40px;
    transform-origin: right top;
    transform: skewY(-1.75deg);
    display: block;
    overflow: hidden;
}

.slick-slide {
    height: calc(75vh - 10em)!important;
    min-height: 480px!important;
    position: relative;
}

.slick-slide a,
.slick-slide a:hover,
.slick-slide a:active,
.slick-slide a:visited {
    color: #fff;
    font-weight: 600;
}

.ilifautpl-slider-content {
    box-sizing: border-box;
    display: block;
    position: absolute;
    bottom: 52px;
}

h2.ilifautpl-slider-headline,
h3.ilifautpl-slider-subtitle {
    display: inline-block;
    color: #fff;
    background: rgba(0, 51, 102, .875);
    margin-right: 25px;
}

h2.ilifautpl-slider-headline {
    font-size: 37px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding: 4px 12px 8px;
    line-height: 1.25;
}

h2.ilifautpl-slider-headline a:hover,
h2.ilifautpl-slider-headline a:active {
    text-decoration: none;
}

h3.ilifautpl-slider-subtitle {
    font-size: 15px;
    font-weight: 400;
    padding: 6px 12px;
    margin-left: 16px;
    line-height: 1.5;
}

/* span.ilifautpl-slide-read-more {} */

/* Slick */

.ilifautpl-arrow {
    position: absolute;
    top: calc(53% - 64px); /* image height / 2 */
    background: url('../img/arrow-right.png');
    background-size: cover;
    display: block;
    width: 70px;
    height: 128px;
    opacity: .4;
    transition: opacity .2s ease-in;
}

.ilifautpl-arrow.prev {
    left: 25px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.ilifautpl-arrow.next {
    right: 25px;
}

.ilifautpl-arrow:hover {
    opacity: .9;
}

.slick-dots {
    margin-bottom: .5em!important;
}

/* Responsive */

@media screen and (min-width: 1921px) {
    #ilifautpl-hero::after{
        transform: skewY(-1deg);
    }
    
    .slick-slide {
        height: 640px!important;
        position: relative;
    }
}

@media screen and (max-width: 991px) {
    #ilifautpl-hero::after{
        height: 120px;
        margin-top: 92px;
        transform: skewY(-2deg);
    }
} 

@media screen and (min-width: 768px) {
    #ilifautpl-hero {
        padding-top: 9em;
    }
} 

@media screen and (max-width: 767px) {
    #ilifautpl-hero {
        margin-bottom: 3em;
    }
    
    #ilifautpl-hero::after{
        display: none;
    }
    
    .slick-slide {
        height: 50vh!important;
        min-height: 240px!important;
    }
    
    h2.ilifautpl-slider-headline {
        font-size: 23px;
    }
    
    h3.ilifautpl-slider-subtitle {
        font-size: 13px;
    }
}

/* -----------------------------------------
  2. Topic Boxes
  ----------------------------------------- */
  
.ilifautpl-topic-boxes {
    width: calc(100% - 30px); /* Compensate for negative margins / padding */
    display: grid;
    grid-gap: 1.5em 3.5%;
    grid-template-columns: repeat(3, 31%);
}

.ilifautpl-topic-box {
    display: block;
    overflow: hidden;
    position: relative;
}

.ilifautpl-topic-box-image {
    transition: opacity .2s linear;
}

.ilifautpl-topic-box-image:hover {
    opacity: .7;
}

.ilifautpl-topic-box:nth-child(3n) {
    margin-right: 0;
}

.ilifautpl-topic-box-title {
    background: #003366;
    color: #fff;
    font-weight: 400;
    font-size: 1.06125em;
    text-align: center;
    padding: 6px 12px;
    position: relative;
    z-index: 2;
}

.ilifautpl-topic-box-content {
    padding: 8px 0;
}

.ilifautpl-topix-box-read-more {
    font-weight: 600;
}

@media screen and (max-width: 991px) {
    .ilifautpl-topic-boxes {
        grid-template-columns: repeat(2, 48.25%);
    }
}

@media screen and (max-width: 639px) {
    .ilifautpl-topic-box {
        width: 100%;
        margin: 0 0 1em;
        float: none;
    }
    
    .ilifautpl-topic-box-image {
        top: 16px;
    }
}

@media screen and (max-width: 480px) {
    .ilifautpl-topic-boxes {
        width: 100%;
        grid-gap: 1.5em 0;
        grid-template-columns: repeat(1, 100%);
    }
}
